@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+VN:wght@100..400&family=Quicksand:wght@300..700&family=Smooch+Sans:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
/* 
Appointment status  */

.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.status.open {
  background-color: #4caf50; /* Green */
  color: white;
}

.status.closed {
  background-color: #f44336; /* Red */
  color: white;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home-main {
  background-image: url("../assets/image/home-main.png");
}

.booknow {
  background-image: url("../assets/image/booking.png");
}

.form {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.password-rules {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.password-rules li {
  font-size: 14px;
  margin-bottom: 5px;
  transition: color 0.3s ease-in-out;
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}
@keyframes scaleUp {
  0% {
    transform: scale(2); /* Start with text being twice as large */
  }
  100% {
    transform: scale(1); /* End with normal size */
  }
}

.animate-scaleUp {
  animation: scaleUp 1s ease-out; /* Animation duration and easing */
}
/* Carousel.css */

.full-width-carousel {
  width: 100%;
  margin: 0 auto;
}
.full-width-slide-group {
  display: flex !important;
  flex-direction: row;
  margin-bottom: 3rem;
}
.full-width-slide {
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-dots.custom-dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex !important; /* Her zaman göster */
  justify-content: center;
}

.slick-dots.custom-dots li {
  margin: 0 5px;
}

.slick-dots.custom-dots li button:before {
  font-size: 12px;
  color: gray;
  opacity: 1 !important; /* Her zaman görünür yap */
}

.slick-dots.custom-dots li.slick-active button:before {
  color: black;
}
